

body,html{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding: 2rem;
    margin: 1rem 0 1rem;
    border-radius: 1rem;
}
nav li {
    display: inline;
    margin-left: 1rem;
}
nav {
    background-color: rgb(68, 73, 67);
    width: 100%;
    padding: 5px;
}
a {
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
}
li {
    margin-top: .4rem;
    
}

h1{
    text-align: center;

}
button{
    border: none;
    padding: 10px;
    background-color: skyblue;
    border-radius: 5px;

}
button:hover{
    background-color: slategray;
}
button {
    color:#ffff;
    font-weight: bold;
}


img{
    width: 80%;
    
}
@media screen and (min-width:40em){
 
    h2, ul, ol{
        margin-left: 4rem;
    }

section{
    padding: 2rem;
    /* margin: 0 3rem; */
    border-radius: 1rem;
   
}
.image,
.bread,
.wrap{
    display: grid;
    grid-template-columns:10% 80% 10%;
    grid-template-rows: inherit;
}



   
    


}

